bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.log
*.vspscc
*.user
*.suo

*.nupkg
*.snupkg
*.nuspec
packages/
*.nuget.props
*.nuget.targets

.idea/
*.sln.iml

.vs/
*.dbmdl
*.bak
*.ldf
*.mdf

.vscode/
.history/

.DS_Store
Thumbs.db


=logs/
*.log
*.trace

node_modules/
wwwroot/lib/
