[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = inventory.api
DNS.2 = order.api
DNS.3 = notification.api
DNS.4 = yarp
DNS.5 = localhost
IP.1 = 127.0.0.1
